What facilities are responsible for the most fuel emitted? 
Which states emit the most fuel? 
How have emissions pattern changed over the years> 
Which fuel is emitted the most? 
Which industry types are responsible for the most fuel emitted?

In [4]:
import pandas as pd 

data = pd.read_csv("C:/Users/charl/OneDrive - Worcester Polytechnic Institute (wpi.edu)/Desktop/fuel_emissions1csv.csv", low_memory=False)
dfClean = pd.DataFrame(data)
yearly_mean_methane = dfClean.groupby("Reporting Year")["Fuel Methane (CH4) emissions (mt CO2e)"].mean()
yearly_mean_n2o = dfClean.groupby("Reporting Year")["Fuel Nitrous Oxide (N2O) emissions (mt CO2e)"].mean()


dfClean1 = dfClean.copy()
dfClean1["Yearly Methane Avg"] = dfClean["Reporting Year"].map(yearly_mean_methane) #add yearly means for methane and no2 to data
dfClean1["Yearly NO2 Avg"] = dfClean["Reporting Year"].map(yearly_mean_n2o)
dfClean1.to_csv("fuel_cleaned.csv", index=False)

# Descriptive Statistics

In [5]:
avg_methane = dfClean1["Fuel Methane (CH4) emissions (mt CO2e)"].mean()
avg_n2o = dfClean1["Fuel Nitrous Oxide (N2O) emissions (mt CO2e)"].mean()

med_methane = dfClean1["Fuel Methane (CH4) emissions (mt CO2e)"].median()
med_n2o = dfClean1["Fuel Nitrous Oxide (N2O) emissions (mt CO2e)"].median()

industry_mode = dfClean["Industry Type (sectors)"].mode()
fuel_mode = dfClean["General Fuel Type"].mode()
state_mode = dfClean["State"].mode()


#create copy of dfClean1 to drop the years
dfClean2 = dfClean1.copy()
dfClean2.drop("Reporting Year", axis=1, inplace=True)
stdev = dfClean2.std()
var = dfClean2.var()

print(avg_methane)
print(avg_n2o)
print(med_methane)
print(med_n2o)

print(industry_mode) #power plants
print(fuel_mode) #natural gas
print(state_mode) #Texas 

print(stdev)
print(var)

C:\Users\charl\AppData\Local\Temp\ipykernel_24956\2617952224.py:15: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  stdev = dfClean2.std()

254.0126749689885
533.2667085059013
9.8125
13.708
0    Power Plants
Name: Industry Type (sectors), dtype: object
0    Natural Gas
Name: General Fuel Type, dtype: object
0    TX
Name: State, dtype: object
industry_id                                        2.652089
fuel_id                                            0.964635
Fuel Methane (CH4) emissions (mt CO2e)          1309.852261
Fuel Nitrous Oxide (N2O) emissions (mt CO2e)    2585.036558
Yearly Methane Avg                                74.154545
Yearly NO2 Avg                                   152.159291
dtype: float64
industry_id                                     7.033577e+00
fuel_id                                         9.305200e-01
Fuel Methane (CH4) emissions (mt CO2e)          1.715713e+06
Fuel Nitrous Oxide (N2O) emissions (mt CO2e)    6.682414e+06
Yearly Methane Avg                              5.498897e+03
Yearly NO2 Avg                                  2.315245e+04
dtype: float64

C:\Users\charl\AppData\Local\Temp\ipykernel_24956\2617952224.py:16: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  var = dfClean2.var()

# Below is max scaled (normalized data) idk if we want to normalize it

In [6]:
df_reportYr = pd.DataFrame(dfClean["Reporting Year"]) #make year its own dataframe so the year will not be normalized

dfClean_maxScaled = dfClean1.copy()
dfClean_maxScaled.drop(["State", "General Fuel Type", "Industry Type (sectors)", "Reporting Year"], 
                       axis=1, inplace=True) #drop year and non numeric columns

dfClean_maxScaled = dfClean_maxScaled.apply(pd.to_numeric, errors='coerce') #convert the remaining columns to numeric, 
                                                                            #and et errors='coerce' to handle non-numeric values by converting them to NaN.

for column in dfClean_maxScaled.columns:
    dfClean_maxScaled[column] = dfClean_maxScaled[column]  / dfClean_maxScaled[column].abs().max() #normalize data

dfClean_maxScaled = pd.concat([df_reportYr, dfClean_maxScaled], axis=1) #add reporting year back in 

      
# view normalized data
display(dfClean_maxScaled)

dfClean_maxScaled.to_csv("fuel_maxScaledcsv.csv", index=False)

,Reporting Year,State_id,industry_id,fuel_id,Fuel Methane (CH4) emissions (mt CO2e),Fuel Nitrous Oxide (N2O) emissions (mt CO2e),Yearly Methane Avg,Yearly NO2 Avg
0,2021,0.018868,1.0,0.833333,0.000902,0.000780,0.121643,0.125353
1,2021,0.018868,1.0,1.000000,0.000005,0.000006,0.121643,0.125353
2,2020,0.018868,1.0,0.833333,0.000122,0.000070,0.113825,0.115816
3,2020,0.018868,1.0,0.833333,0.000980,0.000851,0.113825,0.115816
4,2020,0.018868,1.0,1.000000,0.000005,0.000006,0.113825,0.115816
...,...,...,...,...,...,...,...,...
189977,2013,0.962264,0.4,0.333333,0.000161,0.000070,0.152731,0.170801
189978,2013,0.962264,0.4,0.666667,0.000127,0.000080,0.152731,0.170801
189979,2012,0.962264,0.4,0.333333,0.000190,0.000082,0.171503,0.179802
189980,2012,0.962264,0.4,0.666667,0.000122,0.000078,0.171503,0.179802
189981,2011,0.962264,0.4,0.333333,0.000156,0.000068,0.192203,0.200041

# min-max normalization

In [7]:
dfClean_minMax = dfClean1.copy()

dfClean_minMax.drop(["State", "General Fuel Type", "Industry Type (sectors)", "Reporting Year"], axis=1, inplace=True)
dfClean_minMax = dfClean_minMax.apply(pd.to_numeric, errors='coerce')

for column in dfClean_minMax.columns:
    dfClean_minMax[column] = (dfClean_minMax[column] - dfClean_minMax[column].min()) / (dfClean_minMax[column].max() - dfClean_minMax[column].min())   
    

dfClean_minMax = pd.concat([df_reportYr, dfClean_minMax], axis=1) #add reporting year back in 

  
# view normalized data
print(dfClean_minMax)

dfClean_minMax.to_csv("fuel_minMaxcsv.csv", index=False)

        Reporting Year  State_id  industry_id  fuel_id  \
0                 2021  0.000000     1.000000      0.8
1                 2021  0.000000     1.000000      1.0
2                 2020  0.000000     1.000000      0.8
3                 2020  0.000000     1.000000      0.8
4                 2020  0.000000     1.000000      1.0
...                ...       ...          ...      ...
189977            2013  0.961538     0.333333      0.2
189978            2013  0.961538     0.333333      0.6
189979            2012  0.961538     0.333333      0.2
189980            2012  0.961538     0.333333      0.6
189981            2011  0.961538     0.333333      0.2

        Fuel Methane (CH4) emissions (mt CO2e)  \
0                                     0.000902
1                                     0.000005
2                                     0.000122
3                                     0.000980
4                                     0.000005
...                                        ...
189977                                0.000161
189978                                0.000127
189979                                0.000190
189980                                0.000122
189981                                0.000156

        Fuel Nitrous Oxide (N2O) emissions (mt CO2e)  Yearly Methane Avg  \
0                                           0.000780            0.008822
1                                           0.000006            0.008822
2                                           0.000070            0.000000
3                                           0.000851            0.000000
4                                           0.000006            0.000000
...                                              ...                 ...
189977                                      0.000070            0.043904
189978                                      0.000080            0.043904
189979                                      0.000082            0.065087
189980                                      0.000078            0.065087
189981                                      0.000068            0.088446

        Yearly NO2 Avg
0             0.010786
1             0.010786
2             0.000000
3             0.000000
4             0.000000
...                ...
189977        0.062187
189978        0.062187
189979        0.072367
189980        0.072367
189981        0.095257

[189982 rows x 8 columns]

# Z score

In [8]:
dfClean_z = dfClean1.copy()

dfClean_z.drop(["State", "General Fuel Type", "Industry Type (sectors)", "Reporting Year"], axis=1, inplace=True)
dfClean_z = dfClean_z.apply(pd.to_numeric, errors='coerce')

for column in dfClean_z.columns:
    dfClean_z[column] = (dfClean_z[column] - dfClean_z[column].mean()) / dfClean_z[column].std()    
    
dfClean_z = pd.concat([df_reportYr, dfClean_z], axis=1) #add reporting year back in 
  
# view normalized data   
display(dfClean_z)

#csv file 
dfClean_z.to_csv('fuelClean_z.csv', index=False)

,Reporting Year,State_id,industry_id,fuel_id,Fuel Methane (CH4) emissions (mt CO2e),Fuel Nitrous Oxide (N2O) emissions (mt CO2e),Yearly Methane Avg,Yearly NO2 Avg
0,2021,-1.758951,1.439975,0.721934,-0.158615,-0.163752,-0.636601,-0.692163
1,2021,-1.758951,1.439975,1.758596,-0.193734,-0.205944,-0.636601,-0.692163
2,2020,-1.758951,1.439975,0.721934,-0.189153,-0.202486,-0.815837,-0.906137
3,2020,-1.758951,1.439975,0.721934,-0.155562,-0.159832,-0.815837,-0.906137
4,2020,-1.758951,1.439975,1.758596,-0.193734,-0.205944,-0.815837,-0.906137
...,...,...,...,...,...,...,...,...
189977,2013,1.594907,-0.822393,-2.388051,-0.187626,-0.202486,0.076153,0.327531
189978,2013,1.594907,-0.822393,-0.314728,-0.188962,-0.201909,0.076153,0.327531
189979,2012,1.594907,-0.822393,-2.388051,-0.186481,-0.201794,0.506527,0.529485
189980,2012,1.594907,-0.822393,-0.314728,-0.189153,-0.202024,0.506527,0.529485
189981,2011,1.594907,-0.822393,-2.388051,-0.187817,-0.202601,0.981107,0.983575

In [10]:
industry_emissions = dfClean1.groupby("Industry Type (sectors)")["Fuel Methane (CH4) emissions (mt CO2e)", "Fuel Nitrous Oxide (N2O) emissions (mt CO2e)"].sum()
top_5_methane = industry_emissions.sort_values(by="Fuel Methane (CH4) emissions (mt CO2e)", ascending=False).head(5)
top_5_n2o = industry_emissions.sort_values(by="Fuel Nitrous Oxide (N2O) emissions (mt CO2e)", ascending=False).head(5)

print("Top 5 Industries for Methane Emissions:")
print(top_5_methane)

# Print the top 5 industries for N2O emissions
print("\nTop 5 Industries for N2O Emissions:")
print(top_5_n2o)

Top 5 Industries for Methane Emissions:
                         Fuel Methane (CH4) emissions (mt CO2e)  \
Industry Type (sectors)
Power Plants                                       3.651388e+07
Pulp and Paper                                     3.936669e+06
Waste                                              2.674061e+06
Chemicals                                          1.890329e+06
Other                                              1.350613e+06

                         Fuel Nitrous Oxide (N2O) emissions (mt CO2e)
Industry Type (sectors)
Power Plants                                             7.733678e+07
Pulp and Paper                                           9.573744e+06
Waste                                                    4.368232e+06
Chemicals                                                4.060322e+06
Other                                                    2.514680e+06

Top 5 Industries for N2O Emissions:
                         Fuel Methane (CH4) emissions (mt CO2e)  \
Industry Type (sectors)
Power Plants                                       3.651388e+07
Pulp and Paper                                     3.936669e+06
Waste                                              2.674061e+06
Chemicals                                          1.890329e+06
Other                                              1.350613e+06

                         Fuel Nitrous Oxide (N2O) emissions (mt CO2e)
Industry Type (sectors)
Power Plants                                             7.733678e+07
Pulp and Paper                                           9.573744e+06
Waste                                                    4.368232e+06
Chemicals                                                4.060322e+06
Other                                                    2.514680e+06

C:\Users\charl\AppData\Local\Temp\ipykernel_24956\2104749482.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  industry_emissions = dfClean1.groupby("Industry Type (sectors)")["Fuel Methane (CH4) emissions (mt CO2e)", "Fuel Nitrous Oxide (N2O) emissions (mt CO2e)"].sum()